---
layout: 2.0/base
title: FileView and FileViewResolver
description: FileView and FileViewResolver results in a file being sent to the request client
---

<div class="row">
	<aside class="module_nav_container col-md-3">
		<div class="module_nav">
			<ul class="nav nav-pills nav-stacked" role="navigation">
				<li class="nav-header active">
					<a href="#fileView">
						FileView
					</a>
				</li>
			</ul>			
		</div>
	</aside>

	<article class="col-md-9">
		<div class="page-header">
			<h1>
				<a href="./index.html" class="module">thundr</a>  
				<small>FileView</small>
			</h1>
		</div>

		<section id="fileView" class="overview">
			<h2>FileView</h2>

			<p>
				The <code>FileView</code> streams the data model to the request client with the specified content-type, and filename and disposition (as content-disposition).
			</p>
			<p>
				The <code>FileViewResolver</code> is responsible for serving the FileView. 
				FileView extends <a href="index.html#baseView">base view</a>, you can set content type, status,
				headers, cookies etc.
			</p>
			<p>
				<code>FileView</code> is <strong>intrinsic</strong>, built into thundr core.
			</p>
{% highlight java %}			
public FileView get(){
	... 
	return new FileView(filename, data, "text/plain").withDisposition(Disposition.Attachment); 
}
{% endhighlight %}			
		</section>
	</article>
</div>
		