---
layout: 2.0/base
title: HttpStatusException
description: Throwing HttpStatusException to return error pages to clients
---

<div class="row">
	<aside class="module_nav_container col-md-3">
		<div class="module_nav">
			<ul class="nav nav-pills nav-stacked" role="navigation">
				<li class="nav-header active">
					<a href="#">
						HttpStatusException
					</a>
				</li>
			</ul>
		</div>
	</aside>

	<article id="views" class="col-md-9">
		<div class="page-header">
			<h1>thundr <small>HttpStatusException</small></h1>
		</div>

		<section>
			<h2>
				HttpStatusException
			</h2>
					<p><code>HttpStatusException</code> is a RuntimeException which takes a status code as a constructor
						parameter.</p>

					<p>When thrown, the specified status code is returned to the client as an http error, along with the
						specified message.</p>

{% highlight java %}
...
throw new HttpStatusException(HttpServletResponse.SC_BAD_REQUEST, "Bad request at %d", System.currentTimeMillis());
...
{% endhighlight %}

					<p>The servlet engine will process the response code as normal, so if your web.xml maps a jsp, then this
						is the content returned to the client. e.g.</p>

{% highlight xml %}				
...
<error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/jsp/errors/404.jsp</location>
</error-page>
...
{% endhighlight %}
		</section>
	</article>
</div>
		