---
layout: 2.0/base
title: Jsp views in thundr
description: JspView, JspViewResolver and using jsps, tags and functions in thundr with t.tld
---

<div class="row">
	<aside class="module_nav_container col-md-3">
		<div class="module_nav">
			<ul class="nav nav-pills nav-stacked" role="navigation">
				<li class="nav-header active">
					<a href="#jsp" data-target="#jsp">
						Jsp
					</a>
				</li>
				
				<li>
					<a href="#jspView" data-target="#jspView">
						JspView
					</a>
				</li>
				<li class="nav-header">
					<a href="#tags" data-target="#tags">
						Tags
					</a>
				</li>
				<li>
					<a href="#ifelse" data-target="#ifelse">
						&lt;t:if/&gt; 
					</a>
				</li>
				<li>
					<a href="#ifelse" data-target="#ifelse">
						&lt;t:elseif/&gt; 
					</a>
				</li>
				<li>
					<a href="#ifelse" data-target="#ifelse">
						&lt;t:else/&gt;
					</a>
				</li>
				<li>
					<a href="#set" data-target="#set">
						&lt;t:set/&gt;
					</a>
				</li>
				<li>
					<a href="#script" data-target="#script">
						&lt;t:script/&gt;
					</a>
				</li>
				<li>
					<a href="#style" data-target="#style">
						&lt;t:style/&gt;
					</a>
				</li>
				<li>
					<a href="#route" data-target="#route">
						&lt;t:route/&gt;
					</a>
				</li>
				<li>
					<a href="#json" data-target="#json">
						&lt;t:json/&gt;
					</a>
				</li>
				<li class="nav-header">
					<a href="#functions" data-target="#functions">
						Functions
					</a>
				</li>
				<li>
					<a href="#path" data-target="#path">
						${t:path()}
					</a>
				</li>
				<li>
					<a href="#param" data-target="#param">
						${t:param()}
					</a>
				</li>
				
				<li>
					<a href="#stringTransformations" data-target="#stringTransformations">
						String Transformations
					</a>
				</li>
			</ul>
		</div>
	</aside>

	<article id="jsp" class="col-md-9">
		<div class="page-header">
			<h1>
				<a href="/modules/thundr" class="module">thundr</a> <small>JspView</small>
			</h1>
		</div>
		<section id="page-overview" class="overview">
			<p>
				thundr has good built in support for Jsps. Of all the templating languages available, Jsps are still the most fully featured
				and flexible. However, out of the box jsps and the basic jstl libraries can be a little bare.
			</p>
			<p>
				<code>JspView</code> is <strong>intrinsic</strong>, built into thundr core.
			</p>
		</section>
		
		<section id="jspView">
			<h2>JspView</h2>
			<p><code>JspView</code> is a <a href="index.html#templateView">template view</a> which results in a jsp being processed and served from the Servlet engine. You specify
				the jsp file location, and optionally provide a data model to back it. Unless the jsp rendering
				fails, an Html file and a 200 OK will be sent back to the user. </p>

			<p>The jsp file is considered to be relative to the path <code>/WEB-INF/jsp/</code>, unless it is given as an
				absolute path (i.e. starts with a forward slash, /)
			</p>

{% highlight java %}
...
Map<String, Object> model = ... 
return new JspView("path/to/my.jsp", model);
...
{% endhighlight %}
			<blockquote>
			The model passed into the view will be enhanced with all request attributes and the <a href="#globalModel">global model</a> when the view is rendered.
			This means you can access any request attributes or entries in the globabl model in you jsp using EL, without
			adding them by hand to your model.
			</blockquote>
		</section>
		
		<section id="tags">
			<h2>Tags</h2>
			<p>
				To make working with jsps easier, thundr contains a set of built in tags. Some are similar to jstl tags, to make
				basic operations easier, others are convenience tags for working with resources or data. 
			</p>
			<p>
				To enable the built in tags thundr, include the thundr tags in your jsp or tag file:
			</p>
{% highlight jsp %}
<%@ taglib prefix="t" uri="http://threewks.com/thundr/tags"%>
{% endhighlight %}
		</section>
		<section id="ifelse">
			<h3>If/Else</h3>

			<p>
				thundr comes with it's own if/elseif/else tags. No more choose/when/otherwise!
			</p>
{% highlight jsp %}
...
<%@ taglib prefix="t" uri="http://threewks.com/thundr/tags"%>
...
<t:if condition="${user != null}">
	${user.name}
</t:if>
<t:elseif condition="${userCookie != null">
	${userCookie}
</t:elseif>
<t:else>
	Mr. Anonymous
</t:else>
...
{% endhighlight %}
		</section>
		<section id="set">
			<h3>Set</h3>
			<p>
				There are many scenarios under which you want to conditionally set a value in a jsp. The standard c:set can make this quite verbose.
			</p>
			<p>
				The thundr <code>&lt;t:set/&gt;</code> tag has multiple modes:
			</p>
			<ul>
				<li>can be used just to set a var - <code>&lt;t:set var="name" value="${some.value}"/&gt;</code>,</li>
				<li>can be used to set a var only when a condition is true - <code>&lt;t:set var="name" value="${some.value}" condition="${some != null}"/&gt;</code>,</li>
				<li>can be used to set a var to a value when a condition is true, and an alternative when false - <code>&lt;t:set var="name" value="${some.value}" condition="${some != null"} falseValue="Default"/&gt;</code>,</li>
				<li>can be used to output the result of a conditional test to either the value, or falseValue - <code>&lt;t:set condition="${some != null"}  value="${some.value}" falseValue="Default"/&gt;</code>,</li>
			</ul>
		</section>
		<section id="script">
			<h3>Script</h3>
			<p>
				<code>&lt;t:script/&gt;</code> is used to include a script into a html page.
			</p>
			<p>
				If the provided script does not start with a / or a protocal (http or https), it will assume the script is
				contained in /static/javascript/ and prepend that automatically.
			</p>
{% highlight jsp %}
...
<%@ taglib prefix="t" uri="http://threewks.com/thundr/tags"%>
...
<%-- Loads /static/javascript/my/javascript.js --%>
<t:script src="my/javascript.js"/>

<%-- Loads /static/lib/library.js --%>
<t:script src="/static/lib/library.js"/>

<%-- Loads http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js --%>
<t:script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"/>

<%-- Loads a protocol relative version of jquery.min.js --%>
<t:script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"/>
...
{% endhighlight %}
			<blockquote>
				There is a second parameter called suppressVersion, which defaults to false. If not set to true, the current application version
				is appended as a query parameter. This mechanism means that scripts loaded with the script tag will
				automatically be pulled in by clients when you deploy a new version of your app. <code>applicationVersion</code> is
				a property you can put into the <a href="index.html#globalModel">GlobalModel</a> if you platform does not
				provide it for you.
			</blockquote>
		</section>
		<section id="style">
			<h3>Style</h3>
			<p>
				<code>&lt;t:style/&gt;</code> is used to include a stylesheet into a html page.
			</p>
			<p>
				If the provided style does not start with a / or a protocal (http or https), it will assume the style is
				contained in /static/styles/ and prepend that automatically.
			</p>
{% highlight jsp %}
...
<%@ taglib prefix="t" uri="http://threewks.com/thundr/tags"%>
...
<%-- Loads /static/styles/my/javascript.css --%>
<t:style src="my/javascript.css"/>

<%-- Loads /static/lib/library.css --%>
<t:style src="/static/lib/library.css"/>

<%-- Loads http://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.4.1/bootstrap-select.min.css --%>
<t:style src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.4.1/bootstrap-select.min.css"/>

<%-- Loads a protocol relative version of bootstrap-select.min.css --%>
<t:style src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.4.1/bootstrap-select.min.css"/>
...
{% endhighlight %}
			<blockquote>
				There is a second parameter called suppressVersion, which defaults to false. If not set to true, the current application version
				is appended as a query parameter. This mechanism means that styles loaded with the style tag will
				automatically be pulled in by clients when you deploy a new version of your app. <code>applicationVersion</code> is
				a property you can put into the <a href="index.html#globalModel">GlobalModel</a> if you platform does not
				provide it for you.
			</blockquote>
		</section>
		<section id="route">
			<h3>Route</h3>
			<p>
				<code>&lt;t:route/&gt;</code> is used to generate a url for the named route
			</p>
			<p>
				To help make urls more robust and tolerant to refactoring, when you register a route you can give it a name.
			</p>
			<p>
				When you want to put a link, form action etc to a route in your application, rather than hardcoding the url, you 
				can just include the route name and parameter values and let thundr sort it out.
			</p>
			<p>
				Later, if the url for the route changes, no change will need to be made in your jsp. 
			</p>							
{% highlight jsp %}
...
<%@ taglib prefix="t" uri="http://threewks.com/thundr/tags"%>
...
	<a href='<t:route name="myRoute" pathVar="${pathVar}"/>'>Linky</a>
	
	<form action='<t:route name="myUpdateRoute" pathVar="${pathVar}"/>' method="POST">
		<button type="submit">Go</button>
	</form>
...
{% endhighlight %}
		</section>

		<section id="json">
			<h3>Json</h3>
			<p>
				<code>&lt;t:json value="${data}"/&gt;</code> is used to generate json for the given data value. By default it uses the standard GsonBuilder
				bundled with thundr (i.e. <code>GsonSupport.createBasicGsonBuilder</code>). You can pass an implementation of <code>Gson</code> in if you have
				specific configuration requirements.
			</p>
			<p>
				Be sure to assign the json to a variable and call it in a script block.
			</p>
{% highlight jsp %}
...
<%@ taglib prefix="t" uri="http://threewks.com/thundr/tags"%>
...
<script>
	var users = <t:json value="${users}"/>;
</script>
...
{% endhighlight %}
		</section>
				
		<section id="functions">
			<h2>Functions</h2>
			<p>
				To make working with jsps easier, thundr contains a set of built in functions. They make
				basic data transformations and presentation easier. 
			</p>
		</section>		
		<section id="path">
			<h3>Path</h3>
			<p>
				<code>${t:path()}</code> is used to encode the given value for use as a path component in a url
			</p>
{% highlight jsp %}
...
<%@ taglib prefix="t" uri="http://threewks.com/thundr/tags"%>
...
	<a href='/user/${t:path(user.name)}/view/'>View User</a>
...
{% endhighlight %}
			<blockquote>
				If you find yourself building a URL like this, consider whether a <code>&lt;t:route/&gt;</code> is a better choice.
			</blockquote>
		</section>
		<section id="param">
			<h3>Param</h3>
			<p>
				<code>${t:param()}</code> is used to encode the given value for use as a query parameter
			</p>
{% highlight jsp %}
...
<%@ taglib prefix="t" uri="http://threewks.com/thundr/tags"%>
...
	<a href='/user/${userId}/?message=${t:param(message)}'>View User</a>
...
{% endhighlight %}
		</section>
		<section id="stringTransformations">
			<h3>String transformations</h3>
			<ul>
				<li>
					<code>${t:uppercase()}</code> is used to transform the value to all uppercase
				</li>
				<li>
					<code>${t:lowercase()}</code> is used to transform the value to all lowercase
				</li>
				<li>
					<code>${t:sentencecase()}</code> is used to transform the value to sentence case
				</li>
				<li>
					<code>${t:captitalise()}</code> is used to capitalise each word
				</li>
				<li>
					<code>${t:replace()}</code> is used to perform a regex search and replace
				</li>
			</ul>
			</p>
{% highlight jsp %}
...
<%@ taglib prefix="t" uri="http://threewks.com/thundr/tags"%>
...
	<c:out value="${t:uppercase(value)}"/>
	<c:out value="${t:lowercase(value)}"/>
	<c:out value="${t:sentencecase(value)}"/>
	<c:out value="${t:capitalise(value)}"/>
	<c:out value="${t:replace(user.name, '\\s*\\(.*\\)\\s*', '$1')}"/>
...
{% endhighlight %}
		</section>
	</article>
</div>
		